:root {
  /* ----------------- Colors ----------------- */
  /* Base Colors */
  --bg: white;
  --text: rgb(3, 66, 98);
  --loader-color: #fff;

  /* Label Colors */
  --label-bg: slateGray;
  --label-hover-bg: lightSlateGray;
  --label-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);

  /* Icon Colors */
  --icon-sun-color: orange;
  --icon-moon-color: lightSlateGray;
  --icon-active-moon-color: turquoise;

  /* Circle Colors */
  --circle-color: #add8e6;
  --circle-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);

  /* Textarea Colors */
  --textarea-bg-light: #fff;
  --textarea-bg-dark: #333;
  --textarea-color-light: #000;
  --textarea-color-dark: #fff;

  /* Light Theme Colors */
  --cta-bg-light: #6bd5f8;

  /* Dark Theme Colors */
  --cta-bg-dark: #1e3c66;

  /* ----------------- Background Images ----------------- */
  --light-bg-image: url("../Images/day.jpg");
  --dark-bg-image: url("../Images/night.jpg");

  /* ----------------- Typography ----------------- */
  --font-family: "Roboto Condensed", sans-serif;
  --font-family-title: "Merriweather", serif;

  /* ----------------- Shadows ----------------- */
  --circle-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  --label-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}
